body {background-color:#dae1e7}
hr {margin-right: 30%;
border-style: dotted none none;
border-color: grey;
border-width:5px;
height: 0px;
width:7%}
h1 {color:#66BFBD}
h3 {color:#649d66}
.raj{border-radius:100px;}
